name: CI
on:
  push:
    branches: [feature/*]
  pull_request:
    branches: [ dev ]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Test"
      - name: Slack Notification
      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: always() # Pick up events even if the job fails or is canceled.
